@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{

}
.container{
    display: flex;
}
.sidebar{
    background-color: red;
    width: 15vw;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}
.sidebar nav{
    padding: 7%;
}
.sidebar nav li{
    list-style: none;
    font-size: 2.5vw;
    padding: 20px 0 20px;

}
.sidebar nav li a{
    color: black;
    text-decoration: none;

}
.main{
    background-color:yellow;
    width: 85vw;
    height: 100vh;
}
.infoContainer{
    margin: 7%  auto auto ;
    background-color: rgb(170, 23, 97);
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
}
.devinfo{
   display: flex;
   justify-content: center;
   flex-direction: column;
   font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 300%;
}
.name{
    font-size: 250%;
    font-weight: bold;
}
.info{
    font-size: 220%;
}
.buttons button{

}
.pic img{
    width: 25vw;
    
}